---
layout: post.webc
---
<div class="story -p-lg-x">
<header class="container">
<h1>Hello Storynory</h1>
</header>
<div class="txt-center container -m-y">
<p class="lede">Let me tell you, Birdy is no ordinary </br> back-garden crow. He's old. </p>
</div
<p>Let me tell you, Birdy is no ordinary back-garden crow; he's old. And I don’t mean old like Dad or GrandDad. I mean ancient, like , "I-was-there-when-they-built-the-pyramids" kind of old.

Most nights, when Birdy isn't off attending crow conventions or solving mysteries, he perches on Jake's windowsill and tells him enchanting tales. Jake falls asleep with dreams that could outshine any Hollywood movie. But sometimes, when Birdy is busy, Jake has to count sheep all on his own.

One time, Birdy was missing in action for a week. Jake lay there like an owl every night, eyes wide open, star-gazing. He noticed the moon seemed to be on a vanishing act, getting thinner and paler.

“Mum,” said Jake when she came in to see if he was asleep. “I think the moon is feeling under the weather.”</p>

<p>“Oh darling what makes you think that?”</p>

</div>

<style>
header {
display: block;
margin: auto;
width: 100%;
text-align: center;
}

.story {
margin: auto
}



</style>